* {
    font-family: 'Fira Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(178, 235, 177);
}

nav {
    text-align: left;
    font-size: 28px;
}

nav ul {
    display: flex;
    list-style: none;
    padding-top: 8px;
}

nav ul > li {
    display: inline-block;
    position: relative;
}

#dropdown {
    display: none;
    position: absolute;
    text-align: center;
    left: 0;
    top: 100%;
    margin-top: 8px;
    padding: 0px;
}

#dropdown li {
    padding: 8px 8px;
}

#dropdown.active {
    display: block;
    background-color: rgba(93, 216, 99, 25%);
}

header {
    padding: 12px 24px;
    text-align: center;
    width: fit-content;
    margin: 12px auto;
}

header h1 {
    font-size: 60px;
    margin: 0px;
    color: rgb(214, 42, 60);
}

header p {
    font-size: 21px;
    background-color: rgb(192, 192, 242);
    max-width: fit-content;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: inline-block;
    border-radius: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}

a {
    color: rgb(214, 80, 67);
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    transition: all 0.5s ease;
}

a:hover {
    background: rgba(93, 216, 99, 50%);
}

.profile-photo {
    display: block;
    margin: 12px auto;
    max-width: 300px;
    max-height: 300px;
}

.section-header {
    text-align: center;
    font-size: 32px;
    font-family: 'Shrikhand', cursive;
    padding: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgb(93, 216, 99);
}

#about-me-description {
    text-align: center;
    font-size: 24px;
    background-color: rgb(192, 192, 242);
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 0px 12px;
    border-radius: 12px;
}

#recent-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project {
    font-size: 28px;
    margin: 0px 12px;
    padding: 12px;
    padding-bottom: 0px;
    text-align: center;
    display: grid;
    border: 8px solid rgb(93, 216, 99);
    border-radius: 12px;
}

.project-demo {
    max-width: 100%;
    max-height: 100%;
}

.recent-project-link {
    display: inline-block;
    width: 100%;
    padding: 8px 0px;
}

#all-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 28px;
    text-align: center;
}

.all-project-link {
    border: 8px solid rgb(93, 216, 99);
    border-radius: 12px;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}