* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 25, 112);
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.75rem;
    font-size: 1.75rem;
    background-color: rgb(25, 25, 84);
    position: sticky;
    top: 0;
}

.navbar-items {
    display: flex;
    list-style: none;
}

.navbar-item + .navbar-item{
    margin-left: 1rem;
}

a {
    color: rgb(214, 42, 60);
    text-decoration: none;
}

a:hover {
    color: rgb(247, 178, 18);
    cursor: pointer;
}

header {
    padding-top: 1rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

#title {
    font-size: 4rem;
    margin: 0;
    color: rgb(214, 42, 60);
}

#subtitle {
    font-size: 1.5rem;
    color: rgb(247, 178, 18);
    background-color: rgb(25, 25, 84);
    max-width: fit-content;
    padding: 1rem 1.5rem;
    display: inline-block;
    border-radius: 0.75rem;
    margin-top: 0.75rem;
}

#profile-photo {
    display: block;
    margin: 1rem auto;
    max-width: 18rem;
    max-height: 18rem;
    border-radius: 50%;
}

.section-header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(214, 42, 60);
    padding: 0.75rem;
    margin: 1rem 0;
    background-color: rgb(25, 25, 84);
}

#about-me-description {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(247, 178, 18);
    background-color: rgb(25, 25, 84);
    display: flex;
    align-items: center;
    padding: 0.75rem;
    margin: 0 0.75rem;
    border-radius: 0.75rem;
}

#recent-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.recent-project-link {
    font-size: 2rem;
    text-align: center;
    margin: 0 1rem;
    padding: 1rem;
    background-color: rgb(25, 25, 84);
    border: 0.25rem solid rgb(25, 25, 84);
    border-radius: 0.75rem;
}

.recent-project-link:hover {
    border-color: rgb(247, 178, 18);
}

.project img {
    margin-top: 0.5rem;
    width: 100%;
}

#all-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.75rem;
    text-align: center;
}

.all-project-link {
    border: 0.25rem solid rgb(25, 25, 84);
    background-color: rgb(25, 25, 84);
    border-radius: 0.75rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.all-project-link:hover {
    border-color: rgb(247, 178, 18);
}